* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF5959;
    --dark-color: #141414;
    --font-primary: #f4f4f4;
    --font-secondary: #f4f4f4a3;
    --dark-gray-color: #333;
}

body {
    background-color: var(--dark-gray-color);
    font-family: 'Poppins', sans-serif;
}